<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Shopping List App</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <div id="shopping-list">
        <div class="header">
            <h1>{{ header.toLocaleUpperCase() }}</h1>
            <button v-if="state === 'default'" @click="changeState('edit')" class="btn btn-primary">Add Item</button>
            <button v-else @click="changeState('default')" class="btn btn-cancel">Cancel</button>
        </div>

        <div v-if="state === 'edit'" class="add-item-form">
            <input type="text" v-model="newItem" placeholder="Add an item" @keyup.enter="saveItem">
            <button class="btn btn-primary" @click="saveItem" :disabled="newItem.length === 0">Save Item</button>
        </div>
        <a v-bind:href="newItem" target="_blanck">Dynamic Link</a>        
        
        <ul>
            <!--Using the both ways of vue.js dynamic classes-->
            <li v-for="item in reversedItems" :class="[{strikeout: item.purchased}, item.highPriority ? 'priority' : '']" @click="togglePurchased(item)">{{ item.label }}</li>
        </ul>
        <p v-if="items.length === 0">Nice job! You've bought all your items!</p>

        <script src="https://unpkg.com/vue"></script>
        <script src="main.js"></script>
    </div>    
</body>
</html>